
#contact {
	padding-top: 200px;
	padding-left: 20px;
	text-align: center;
	background-color: $blue;

	h1 {
		font-size: 30px;
		color:$gray-light;
	}	


	h3 {
		font-size: 25px;
		font-weight: 300;
		color: $gray-light;
	}

	p{
		color: $gray-light;
		font-size: 16px;
	}
}

.img-circle{
	border-radius: 50%;
}

