---
title: Contact us
---
<div id="contact" class="padded">
	<h1> Contact our team members</h1>
	<div>
		<div class="container">
			<div class="row">
					<div class="col-xs-24 col-sm-12 col-md-6" >
						<%= image_tag "hasnaa.jpg", class:"img-circle"%>
						<h3> Hasnaa </h3>
						<p> Founder & Business developer </p>
					</div>
					<div class="col-xs-24 col-sm-12 col-md-6" >
						<%= image_tag "jihane.jpg", class:"img-circle" %>
						<h3> Jihane </h3>
						<p> Stylist Director </p>
					</div>
			</div>
			
		</div>
		
	</div>
</div>



